[Unit]
Description=SumoClassic Full Node
After=network.target

[Service]
User=sumc
Group=sumc
WorkingDirectory=~
RuntimeDirectory=sumoclassic

Type=forking
PIDFile=/run/sumoclassic/sumoclassicd.pid

ExecStart=/usr/bin/sumoclassicd --config-file /etc/sumoclassicd.conf \
    --detach --pidfile /run/sumoclassic/sumoclassicd.pid

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
